/*Estilos para la página*/
.E{
    background-color: white;
}
.D{
    background-color: #2E6D85;
}
.C{
    background-color: green;
}
.Color{
    background-color: #51BFC4;
}
.M{
    color: black;
}
header > nav{
    max-width: 9000px;
}
header > nav > table{
    width: 100%;
    border: 2;
    background-color: black;
}
h1{
    color: white;
    font-size: 200%;
}
h3{
    color: red;
    text-align: center;
    font-size: 300%;
}
video{
    width: 100%;
    height: 70%;
}
ul > li{
    color: white;
    font-size: 100%;
    
}
body{
    background-color: white;
}
h2{
    color: red;
    font-size: 200%;
}
/*Adaptamiento de Pantalla*/
@media screen and (max-width: 980px){
    #contenedor{
        width: 90%;
    }
    #contenido{
        width: 60%;
    }
    #barra_lateral{
        width:30%;
    }
}
@media screen and (max-width: 480px){
    #encabezado{
        height: auto;
    }
    #contenido{
        width: auto;
    }
    #barra_lateral{
        display:none;
    }
}
#contenedor {
    width: 90%;
    max-width: 1024px;
}
img {
    max-width: 100%;
    height: auto;
}
/*Menú*/
	 *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "open sans";
    }
    nav{
        max-width: 900px;
        margin: auto;
        background-color: black;
        font-size: 20px;
        margin-top: 0;
    }
    .menu-horizontal{
        list-style: none;
        display: flex;
        justify-content: space-around;
    }
    .menu-horizontal > li > a{
        display: green;
        padding: 15px 15px 15px 20px;
        color: white;
        text-decoration: none;
    }
    .menu-horizontal > li:hover{
        background-color: black;
  }
  /*Fecha y Hora*/
  *{
        padding: 0;
        margin: 0;
    }
    legend{
  font-size: 30px;
  text-align: left;
  color: white;
}
#reloj{
  font-size: 30px;
  color: white;
  text-align: left;
}